*{
    font-family: "Open Sans";
}
#user_account  {
    max-width: 25px;
}

#logo  {
    max-width: 60px;
}

.bg-yellow-imdb{
    background-color: #f5c518 !important
}

.card-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    flex-grow: 1;
    width: 33%;
}

.btn-yellow-imdb, .btn-yellow-imdb:hover{
    background-color: #f5c518 !important;
    color: black;
    border: 0;
    padding: 0.375rem 2.75rem;
    font-size: 12px;
    max-width: 200px;
}

#star-imdb{
    max-width: 20px;
}

.card-title{
    font-size: 14px;
}

.movie-description, .movie-artists, .rating {
    font-size: 12px;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(245,197,24);
    overflow-x: hidden;
    transition: 0.2s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
